<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Home</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        function getPage() {
            const url = window.location.href;
            if (url.toString() === "http://localhost:8080/home") {
                document.getElementById("linkHome").className = "nav-link active";
                document.getElementById("linkStats").className = "nav-link";
            } else if (url.toString() === "http://localhost:8080/stats") {
                document.getElementById("linkHome").className = "nav-link";
                document.getElementById("linkStats").className = "nav-link active";
            }
        }
    </script>
</head>
<body onload="getPage();">
<div th:replace="fragments/fragment-top-nav-bar :: navbar">
</div>
<h1 th:text="#{home.title}">
    Tasks
</h1>
<form action="#" th:action="@{/home}" th:object="${updateNote}" method="post">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 0; padding: 0;">
        <div class="col" th:each="item : ${notes}">
            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header" th:field="${item.id}" th:text="${item.getId()}"></div>
                <div class="card-body">
                    <h5 class="card-title" th:field="${item.text}" th:text="${item.getText()}"></h5>
                    <button type="button" class="btn btn-outline-light" value="Submit">DONE</button>
                </div>
            </div>
        </div>
    </div>
</form>
<button type="button" class="btn btn-outline-info"><a href="/create" style="text-underline: none" th:text="#{home.add}">+ Add</a></button>
</body>
</html>