<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Stats</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        function getPage() {
            const url = window.location.href;
            if(url.toString() === "http://localhost:8080/home"){
                document.getElementById("linkHome").className = "nav-link active";
                document.getElementById("linkStats").className = "nav-link";
            }else if(url.toString() === "http://localhost:8080/stats"){
                document.getElementById("linkHome").className = "nav-link";
                document.getElementById("linkStats").className = "nav-link active";
            }
        }
    </script>
</head>
<body onload="getPage()" style="margin: 0; padding: 0;">
<div th:replace="fragments/fragment-top-nav-bar :: navbar">
</div>



<div class="container" style="margin-left: 0; margin-right: 0; padding: 0;">
    <div class="row">
        <div class="col">
            <h1 th:text="${stats.getTodo() + 'TODO'}"></h1>
        </div>
        <div class="col">
            <h1 th:text="${stats.getDone() + 'DONE'}"></h1>
        </div>
    </div>
</div>

</body>
</html>